{% extends "base.html.twig" %}

{% block title %}
    List of categories
{% endblock %}

{% block body %}
    <h1>Listes des catégories :</h1>
    
    {% if categories %}
        <ul>
            {% for category in categories %}
                <h2><a href="{{ path("category_show", {categoryName: category.name }) }}">{{ category.name }}</a></h2>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('app_index') }}">Retour à l'accueil</a>

{% endblock %}